align_args: true
align_parameter: false
align_table_field: true
break_after_functioncall_lp: false
break_after_functiondef_lp: false
break_after_operator: false
break_after_table_lb: true
break_before_functioncall_rp: false
break_before_functiondef_rp: false
break_before_table_rb: true
chop_down_kv_table: true
chop_down_parameter: false
chop_down_table: true
column_limit: 100
column_table_limit: 100
continuation_indent_width: 1
double_quote_to_single_quote: false
extra_sep_at_table_end: true
indent_width: 1
keep_simple_control_block_one_line: true
keep_simple_function_one_line: true
single_quote_to_double_quote: true
spaces_before_call: 1
table_sep: ";"
tab_width: 1
use_tab: true