indent_width:                      2
spaces_before_call:                0
use_tab:                           false

# These are the ones under test.
spaces_inside_functiondef_parens:  true
spaces_inside_functioncall_parens: true
spaces_inside_table_braces:        true
spaces_around_equals_in_field:     false